body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.Tabs {
  background-color: rgb(128, 18, 172);
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
}

a {color: rgb(255, 255, 255);} 
a:link { text-decoration: none;
         padding-right: 20px; }
a:hover { color: rgb(247, 0, 255); }

.Title {
  background-color: rgb(214, 214, 214);
  text-align: left;
  color: rgb(56, 56, 56);
  font-size: 20px;
  padding: 20px;
}