html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}
table,th,td {
border: 1px solid black;
}

img.profile {
  max-width: 40%;
  max-height: 50%
}


.Title {
  background-color: #33B2FF;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 30px;
}

.SearchBar {
  background-color: black;
  text-align: center;
  color: white;
}

.Map_profile {
  background-color: gold;
  display: flex;
  height: 580px;

}

.Map {
  background-color: maroon;
  flex: 50%;
}

.Profile {
  background-color: #33B2FF;
  flex: 50%;
  text-align: center;

}

.Table_Param {
  overflow-y: scroll;
  max-height: 250px;
}
.Table {
  background-color: lightblue;
}
