.Title {
    background-color: red;
  }
  
  .SearchBar {
    background-color: white;
  }
  
  .Map_profile {
    background-color: gold;
  }
  
  .Map {
    background-color: maroon;
  }
  
  .Profile {
    background-color: grey;
  }
  
  .Table {
    background-color: blue;
  }
  
  